<h1>Smash a Burger App</h1>


<p>Manage your burger-smashing with this app</p>

{{burger}}

<!-- Pass in data from server.js -->

<h1>Burgers!</h1>

<div class="container text-center"> 
    {{!-- <img class = "burgerPic" src="static/css/burger.png"> --}}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><h1>Eat That Burger</h1>
             <form method="POST" action="/newBurger/create" class="create-form">
              <div class="form-group">
                <label for="auth">New Burger:</label>
              {{!--   this name matches req.body.burgerName in server--}}
                <input type="text" id="burgerName" name="burgerName">
                <p>Enter the name of the burger you want</p>
                <button type="submit" id = "addBurger">Submit Burger</button>
              </div>
             </form> 
        </div>
        <div class="col-md-4"></div>
    </div> 
    <div class="row">
        <div class="col-md-4 ">
          <h3>Burgers to Eat</h3>
             {{#each burgers}}
               {{#unless this.smashed}}
                <li>
                  <p>
                    {{this.id}}. {{this.burgerName}}

                    <form id="smashBurger" action="/update?_method=PUT" method="POST">
                      <input type="hidden" name="id" value="{{this.id}}">
                      <button type="submit" id="smashABurger">Smash It!</button>
                    </form>
                  </p>
                </li>
              {{/unless}}
            {{/each}}
        </div>
      <div class="col-md-4">  
      </div>
      <div class="col-md-4">
        <h3>Smashed Burgers!</h3>
          <ul>
              {{#each burgers}}
                {{#if this.smashed}}
                <li>
                  <p>
                    {{this.id}}. {{this.burgerName}}
                      <form id="smashedBurgers" action="/delete?_method=DELETE" method="POST">
                      <div class="input-group">
                        <input type="hidden" class="form-control" name="id" value="{{this.id}}">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="submit" id="noMoreBurger">I'm FULL!</button>
                        </span>
                      </div>
                    </form>
                  </p>    
                </li>
              {{/if}}
            {{/each}}
          </ul> 
      </div>
  </div>
</div>




{{!-- <h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="smashed">Smashed?</label><br>
    <input type="radio" name="smashed" value="0"> Smashed!<br>
    <input type="radio" name="smashed" value="1" checked> Eat That!
  </div>

  <button type="submit">Add a Burger</button>
</form> --}}
