<li>
	{{burger_name}}
	{{#if smashed}}
	{{else}}
	<button class="change-smashed" data-id="{{id}}" data-newlySmashed="{{smashed}}">
		SMASH IT!
	</button>
	{{/if}}
	<button class="change-delete" data-id="{{id}}" data-newlySmashed="{{smashed}}">
		Delete that burger!
	</button>
</li>